{% extends "base.html" %}
{% block content %}
<h2> Edit your Comment </h2>
<br>
<form method="post">
   <div class="container">
      <div class="row">
         <div class="col-md-12 comment">
            <input type="text" name="comment" value="{{comment}}">
         </div>
         <div class="error">{{error}}</div>
         <div class="col-md-12 comment">
            <input type="submit">
            <button name="cancel" type="submit" value="cancel">Cancel Edit</button>
         </div>
      </div>
   </div>
</form>
{% endblock %}